@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A6CEE3;
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #4D4D4D;
}

p, input, span, label, button {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #4D4D4D;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #4D4D4D;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.error-message {
    color: #cd5c5c;
    font-size: 14px;
    padding: 0;
    margin: 0;
    text-align: right;
}